#drills_wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
}

.section__wrapper {
    width: 90%;

}

.drill__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 3vh 1fr;
    min-height: 10vh;
}

.drill__top {
    grid-row: 1;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}
/* 
.drill__top:hover + .drill__description{
    display: block;
} */

.drill__button {
    grid-column: 1;
    grid-row: 1;
    width: 90%;
    font-size: 0.8rem;
}

.drill__name{
    grid-column: 2;
    grid-row: 1;
    margin: 0;
}
.drill__reps{
    grid-column: 3;
    grid-row: 1; 
}

.drill__arms {
    grid-column: 4;
    grid-row: 1; 
}

.drill__description {
    grid-column: 2/4;
    grid-row:2;
}