/*#E2E0E0
 #3A3849
  #983539
  #9D7770*/

.home__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    padding-top: 2%;
}

.home__top {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}

