#login_wrapper {
    text-align: center;
    background-color: var(--blue);
    height: 100vh;
    display: flex;
}

#login_inner_wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 15% 15% 10% 28% 5% 10% 10%;
    padding: 2vw;
    height: 69vh;
    width: 29vw;
    margin: auto;
    background-color: var(--main-bg-color);
    border-radius: 8px;
}

#login_inner_wrapper > h4 {
    grid-column-start: 2;
    grid-row-start: 3;
}

#login_inner_wrapper > h2 {
    grid-column-start: 2;
    grid-row-start: 4;
}

.signup_link {
    grid-column-start: 2;
    grid-row-start: 6;
    margin: 0 auto;
    width: fit-content;
    text-decoration: none;
    color: black;
}

.signup_link:hover {
    color: blue;
    cursor: pointer;
}

#login_wrapper .header_logo_alt {
    grid-column-start: 2;
    grid-row-start: 2;
}

.input_wrapper {
    grid-column-start: 2;
    grid-row-start: 5;
    /* background-color: red; */
    margin: auto;
    width: 80%;
}

.button__login {
    grid-column-start: 2;
    grid-row-start: 7;
    margin: auto;
    width: 80%;
}

.input_box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.input_box > p {
    margin: 0 0 5px;
    color: var(--red);
}


.input_box > label {
    text-align: left;
}