.training_steps__wrapper {
    text-align: center;
    width: 95%;
    margin-bottom: 6vh;
    /* background: red; */
    /* height: 40vh; */
    margin: auto;
    padding-bottom: 2%;
}

#assessment__table {
    margin-top: 10px;
    width: 100%;
    table-layout: fixed;
}

.assessment_info {
    background-color: #3A3849;
    color: #E2E0E0;
    height: 5vh;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
}

.assessment_data_head {
    background-color: #983539;
    height: 7vh;
    font-size: 0.9rem;
    font-weight: 200;
    color: #e2e0e0;
}

.assessment_data_head > th {
    font-weight: 300;
}

.assessment_pitch_data {
    background-color: #e2e0e0; 
    height: 4vh;
}

.training_steps {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* width: 20%; */
}

.training_steps_icons {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 0px 0 10px;
}


.training_subSteps {
    display: flex;
    align-items: center;
}

.training_subSteps > h4 {
    margin: 2% 0;
}

.training_steps svg {
    margin-right: 5px;
}

.training_steps h1 {
    text-transform: capitalize;
    margin: 0;
}
.active  {
    color: green !important;
}
.warning {
    color: red !important; 
}

