/* trainingType.js */

.trainingType__container {
    /* background-color: #238adc; */
    /* border-right: 2px solid #238adc; */
    /* width: 30%; */
    text-align: center;
    width: 90%;
    margin: auto;
    height: 26vh;
}

.trainingType__container > p {
    width: 50%;
    margin: 20px auto;
    
}

.trainingType__inner {
    display: flex;
    justify-content: space-between;
}

.trainingType__icon {
    font-size: 2rem;
}

.training_selection {
    /* padding-bottom: 2%; */
    width: 18%;
    border: 1px solid black;
    border-radius: 8px;
}

.training_selection div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training_selection input {
    align-self: center;
    margin-right: 5%;
    margin-left: 2%;
}

.training_selection svg {
    margin-top: 10px;
}

.training_selection h3 {
    cursor: pointer; 
}

.training_selection p {
    width: 75%;
    /* margin-left: 11%; */
    margin: 0 11%;
    text-align: left;
}

.disabled {
    background-color: lightgrey;
    color: grey;
}