/* Webcam.js */
#canvas {
    position: absolute;
    /* top: 28px;
    left: 596px; */
    /* background: #0000ff29; */
    height: 75vh;
    width: 55vw;
}

#video {
    height: 48vw;
    width: 64vw;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0px; */
    border-radius: 8px;
}

.cam__view {
    height: 48vw;
    width: 64vw;
    /* background-color: aqua; */
    /* border: 4px dotted #3A3849; */
    /* position: relative; */
    border-radius: 8px;
    /* left: -71%; */
    margin-bottom: 1%;
    box-shadow: 0px 0px 8px 1px black;
}


.webcam__container {
    display: flex;
    flex-direction: column;
    width: 64vw;
}

.button__container {
    display: flex;
    justify-content: center;
}

.button__start {
    border: 1px solid #3A3849;
    background-color: #3A3849;
    color: #E2E0E0;
}

.button__stop {
    border: 1px solid #983539;
    background-color: #983539;
    color: #E2E0E0;
}

.button__reset {
    border: 1px solid #9D7770;
    background-color: #9D7770;
    color: #E2E0E0;
}