/* General Styling */
:root {
  --main-bg-color: #E2E0E0;
  --blue: #3A3849;
  --red: #983539; 
  --brown: #9D7770;
}

h1, h2, h3, h4, h5 {
  margin:0;
  padding: 10px;
}
.App{
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}
table, thead, tbody {
  border: 1px solid black; 
  border-collapse: collapse;
}

button {
  padding: 0.5%;
  width: 30%;
  /* color: #238adc; */
  background-color: inherit;
  cursor: pointer;
  margin: 1%;
  font-size: 1.5rem;
  border-radius: 8px;
  /* border: 1px solid #238adc; */
  /* border: none */
}

button:disabled {
  background-color: #ededed;
  border: 1px solid grey;
  color: grey
}


