/* General Styling */

table, thead, tbody {
  border: 1px solid black; 
  border-collapse: collapse;
}

button {
  padding: 1%;
  width: 30%;
  color: #238adc;
  background-color: inherit;
  margin: 1%;
  border-radius: 8px;
  border: 1px solid #238adc;
  /* border: none */
}

button:disabled {
  background-color: #ededed;
  border: 1px solid grey;
  color: grey
}
